.$URN$_text-static {
    font-family: arial,helvetica;
    font-size: 12px;
    color: black;
    padding: 0px;
}

.$URN$_text-static-disabled {
    color: rgb(150,150,150);
}

.$URN$_text-static-lineHeight60 {
    line-height:60px;
}

.$URN$_text-static-dark{
    color:#303030;
}

.$URN$_text-static-light{
    color:#b3b3b3;
}

.$URN$_text-static-large{
    font-size: 25px;
}