<screen>
    <container position="absolute" left="50%" margin-left="-156" top="50%" margin-top="-32" width="312" height="64" class="clear-fix">
        <button name="lvlOne" label="Lvl 1" position="static" width="80" height="40" margin="10" float="left"/>
        <button name="lvlTwo" label="Lvl 2" position="static" width="80" height="40" margin="10" float="left"/>
        <button name="lvlThree" label="Lvl 3" position="static" width="80" height="40" margin="10" float="left"/>
    </container>
    <behaviors xmlns="urn:aviarc:widget:com.aviarc.toronto.widget.core.action">
        <when event="lvlOne.onClick">
            <call-ajax-workflow name="lvl-one/start" show-timer="n"/>
        </when>
        <when event="lvlTwo.onClick">
            <call-ajax-workflow name="lvl-two/start" show-timer="n"/>
        </when>
        <when event="lvlThree.onClick">
            <call-ajax-workflow name="lvl-three/start" show-timer="n"/>
        </when>
    </behaviors>
</screen>