.$URN$_container-clear-fix:after{
    content:" ";
    display:block;
    clear: both;
}

.$URN$_container-inline-block{
    display:inline-block;
}

.$URN$_container-outline-grey{
    outline:1px solid #ddd;
}

.$URN$_container-dark{
    background-color:rgba(88, 87, 84, 0.8);
}

.$URN$_container-default-cursor{
    cursor: default;
}

.$URN$_container-selected{
    background-color:#e6917e;
}

.$URN$_container-rounded{
    border-radius:2px;
}